<footer class="container-fluid py-4 bg-dark" style="margin: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 text-center">
                <img src="/assets/img/bigkahunalogo.png" />
            </div>
            <div class="col-8">
                <a class="nav-link fs-1 text-decoration-none footer-link" routerLink="">Our products</a>
                <hr class="text-white"/>
                <a class="nav-link fs-1 text-decoration-none footer-link" routerLink="">About</a>
            </div>
        </div>
        <div class="row">
            
        </div>
        <p class="text-white"><i class="bi bi-c-circle"></i> Javier Almiñana</p>
    </div>
</footer>
